.people-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.people-input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    text-align: right;
    background-color: rgb(236, 248, 241);
}
.people-container .people{
    font-size: 1.2em;
    font-weight: 600;
}