.results-container {
    padding: 30px;
    background-color: var(--second-bg-color);
    border-radius: 15px;
    margin: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.number-container p {
    padding: 10px;
    font-size: 1.2em;
}
.reset {
    padding: 10px;
    border-radius: 15px;
    border-style: none;
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;

}
.reset:active {
    background-color: var(--second-bg-color);
    transition: .5s ease;
    transform: translateY(10px);
    color: white;
}
@media (min-width: 800px){
    .results-container {
        justify-content: space-between;
        
    }
}
