@media (min-width: 800px){
    .App {
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .main-container {
        max-width: 80%;
        display: flex;
        margin-bottom: 100px;
        background-color: white;
        padding: 30px;
        border-radius: 20px;
    }
}